.reviews {
    padding-bottom: 41px;
    & &__wrapper {
        margin-top: 60px;
        div:nth-child(1) {
            margin-top: 0px;
        }
    }
    & &__item {
        display: flex;
        align-items: center;
        margin-top: 110px;
    }
    & &__username {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    & &__stats {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    & &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
    & &__around {
        margin-right: 61px;
        &:hover {
            animation-name: swing;
            animation-iteration-count: 1;
        }
    }
    & &__username, & &__stats, & &__text {
        line-height: 30px;
    }
}