.scroll-up {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
        filter: invert(8%) sepia(80%) saturate(7488%) hue-rotate(0deg) brightness(104%) contrast(107%)
    }
}