.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    & &__official {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        span {
            display: block;
            font-size: 18px;
        }
    }
    & &__phone {
        font-weight: 700;
        font-size: 22px;
        display: block;
        text-align: right;
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    & &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}